@keyframes slideMoveHorizontal {
    0%{
        transform:translateX(0%);
    }
    33.333%{
        transform: translateX(-33.333%);
    }
    66.666%{
        transform:translateX(-66.666%);
    }
    100%{
        transform:translateX(0%);
    }
}