/* 공통스타일 - 홈페이지에서 공통적으로 사용되는 스타일들을 상속설정을 하여 유지보수가 쉽게 하기위해 */
/* 글씨체,글씨크기,행간 */
@font-face {
    font-family:"풀무원글씨";
    src: url("../font/PulmuoneLOHASBold.woff");
}

html{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    /* 1rem = 20px */
    line-height: 1.4;
    word-break: keep-all;
}
.font_pul{
    font-family:"풀무원글씨";
}

/* ///////////////////////상세스타일///////////////////////////////// */
.banner{
    height:250px;
    background: url("../img/sub_vis01_02.jpg") no-repeat 50% 50% / cover;
}
main{
    width:1200px;
    /* margin:0 auto;
    margin-top:50px; */
    margin:2.5rem auto 0;
}
main h2{
    font-size:1.5rem;
    background: url("../img/sub_tit_line.gif") repeat-x 0 50%;
    margin-bottom:5rem;
}
main h2 span{
    background: #ffffff;
    padding-right:0.9rem;
}
main h3{
    font-size: 2.6rem;
    text-align: center;
    padding: 0 3.5rem;
    margin-bottom:2.5rem;
}
main h3 strong{
    color:#7eae4b;
}
section.box{
    width:810px;
    box-sizing: border-box;
    padding:2rem 4.5rem 2.5rem;
    background: #f4f4f4;
    margin:0 auto;
    text-align: center;
}


.box h4{
    font-size: 1.75rem;
    margin-bottom:1.25rem;
}
.box p:nth-of-type(1){
    margin-bottom:1.5rem;
}
