*{margin:0;padding:0;}
ul{list-style: none;}
a{text-decoration: inherit;color: inherit;}
img{max-width: 100%;}

html{
    background-color: #fff;
    color:#333;
}
/* 주조색 #1b3b86 */
header{
    width:1340px;
    height:100px;
    background-color: #1b3b86;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 500;
}
.logo{
    display: flex;
    align-items: center;
}
.gnb{
    display: flex;
    margin-top:50px;
    margin-right:20px;
}
.gnb>li{
    position: relative;
}
.gnb ul{
    position:absolute;
    left:0;
    top:50px;
    height:0;
    overflow: hidden;
    transition: all 0.6s ease 0s;
    background-color: #fff;
}
.gnb>li:hover ul{
    height:220px;
}
.gnb a{
    display: flex;
    height:50px;
    width:180px;
    align-items: center;
    justify-content: center;
}
.gnb li:hover>a{
    background-color: #000;
    color:#fff;
}
.gnb>li>a{
    color:#fff;
    font-weight: bold;
}

.station{
    height:350px;
    background-color: #ddd;
    position: relative;
}
.train{
    width:100%;
    height:100%;
    position: relative;
}
.train>li{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease 0s;
}
.train>li.on{
    opacity: 1;
    pointer-events: auto;
}
.train li img{
    width:100%;
    height:100%;
    object-fit: cover;
}



.direct{
    width:1340px;
    /* height:70px; */
    background-color: #ccc;
    position: absolute;
    left:calc(50% - 670px);
    /* left:50%;
    transform: translateX(-50%); */
    bottom:0px;
}
.direct ul{
    display: flex;
    justify-content: space-between;
}
.direct ul a{
    display: flex;
    align-items: center;
}
.direct ul>li{
}
.banner{
    width:1340px;
    height:150px;
    margin: 0 auto;
    display: flex;;
    align-items: center;
    justify-content: space-around;
}
.bannertxt{
    width:800px;
}
.contents{
    width:1340px;
    height:250px;
    margin:0 auto;
    display: flex;
}
.contents>section{
    flex:1;
    padding:10px;
}
.contents h2{
    margin-bottom:20px;
}
.notice li{
    display: flex;;
    justify-content: space-between;
    border-bottom:1px solid #333;
    padding:10px 0;
    margin-bottom:5px;
}
.gallery{
    display: flex;;
    justify-content: space-between;
}
footer{
    width:1340px;
    background-color: #000;
    color:#fff;
    height: 120px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    box-sizing: border-box;
}
.sns{
    display: flex;
}

.modal{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #000;
    opacity: 0.8;
    display: none;
    z-index: 510;
}
.modal.on{
    display: block;
}
.popup{
    position: fixed;
    width:300px;
    padding:30px;
    left:300px;
    top:300px;
    background-color: #fff;
    border:3px solid #000;
    display: none;
    z-index: 520;
}
.popup.on{
    display: block;
}
.popup_ctl{
    display: flex;
    justify-content: flex-end;
}
.btn_close{
    border:3px solid #000;
    padding:10px 30px;
    cursor: pointer;
}
