@charset "utf-8";

*{
    margin:0;
    padding:0;
}
ul,ol{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: inherit;
    color:inherit;
}
/* /////////////////reset////////////////// */

html{
    background: #fff;
    color:#333;
}

header{
    background-color: salmon;
    width:1200px;
    height:100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    position:relative;
    z-index: 500;
}
.logo{
    height:100%;
    display: flex;
    align-items: center;
}
.gnb{
    display: flex;
    overflow: hidden;
    height:50px;
    transition:all 0.7s ease 0s;
    margin-top:25px;
    margin-right:25px;
}
.gnb ul{
    background-color: salmon;
}
.gnb:hover{
    height:210px;
}
.gnb>li>a{
    display: flex;
    font-weight: bold;
    height:50px;
    align-items: center;
    padding:0 20px;
}
.gnb li:hover>a{
    background-color: #000;
    color:#fff;
}
.gnb>li>ul>li>a{
    display: flex;
    height:40px;
    align-items: center;
    padding:0 20px;
}

.station{
    width:1200px;
    height:300px;
    margin:0 auto;
    overflow: hidden;
}
.train{
    transition: all 0.7s ease 0s;
    width:100%;
    height:300%;
}
.train>li{
    width:100%;
    height:33.333%;
}
.train>li img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.contents{
    width:1200px;
    height:200px;
    margin:0 auto;
    display: flex;
}
.contents>section{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
dl.tab_menu{
    width:100%;
    height:100%;
    position:relative;
}
dl.tab_menu>dt{
    width:100px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #000;
}
dl.tab_menu>dd{
    
}
.notice_list>li{
    display: flex;
    justify-content: space-between;
}
.gallery_list{
    display: flex;
    justify-content: space-between;
}
.banner{
    background:url("../img/banner.jpg") no-repeat 50% 50% / cover;
}
.banner a{
    background-color: salmon;
    color:#fff;
    padding:10px 30px;
}
.direct{
    background:url("../img/direct.jpg") no-repeat 50% 50% / cover;
}
.direct a{
    background-color: salmon;
    color:#fff;
    padding:10px 30px;
}
footer{
    width:1200px;
    height:100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color:#fff;
}
.sns_list{
    display: flex;
}
.popup{
    border:1px solid #000;
    position:fixed;
    left:200px;
    top:200px;
    width:300px;
    padding:20px;
    background-color: #fff;
    display: none;
}
.popup.on{
    display: block;
}
.popup_control{
    display: flex;
    justify-content: flex-end;
}
.btn_close{
    border:1px solid #000;
    padding:10px 20px;
    cursor: pointer;
}
