@keyframes my_rotate {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(140deg);
    }
}
.box{
    border:5px solid #000;
    width:300px;
    height:300px;
}
.ani1{
    /* animation-name:my_rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards; */
    animation:my_rotate 4s linear 0s infinite normal forwards;
}
.ani1:hover{
    animation-play-state: paused;
}