.wrap{
    background: bisque;
}
@media (min-width:1500px){
    /* 화면최소너비가 1500픽셀인경우 -> 1500픽셀보다 큰 경우 적용되는 스타일 */
    .wrap{
        background:lightcoral;
        display: flex;
    }
}
@media (min-width:1400px) and (max-width:1499px){
    /* 화면최소너비가 1400픽셀이고 최대너비가 1499픽셀인 경우 -> 1400픽셀보다 크고 1499픽셀보다 작은경우 적용되는 스타일 */
    .wrap{
        background:lightseagreen;
    }
}