.a{
    font-size:20px;
}
.a p{
    font-size:2rem;
    /* 2rem -> 16x2 32픽셀 */
}
.a p:nth-of-type(2n){
    font-size:2em;
    /* 2em -> 20x2 40픽셀 */
    background:papayawhip;
}
html{
    font-size:12px;
    /* 1rem = 12px */
}
.desc{
    font-size:2rem;
    /* 2rem == 24px */
    line-height:120%;
    /* 24 x 1.2 = 28.8px */
    line-height: 3;
    /* 24 x 3 = 72px */
    line-height: 100px;
    border:1px solid black;
}
.c{
    font-weight:bold;
}
.d{
    font-style: italic;
}
.d address{
    font-style: normal;
}
.e{
    letter-spacing: 20px;
}
.e p:last-of-type{
    letter-spacing: -2px;
}
.f{
    word-spacing:30px;;
}
.nowrap{
    white-space: nowrap;
}
.pre{
    white-space: pre;
}
.h>p:last-of-type{
    text-indent: 50px;
}

.i ul>li:nth-of-type(1){
    text-decoration: underline;
}
.i ul>li:nth-of-type(2) a{
    text-decoration: none; 
}
.i ul>li:nth-of-type(3){
    text-decoration: line-through;
}
.j ul+p{
    width:400px;
    border:1px solid black;
    text-align: justify;
}
.k ul+p{
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
}
.l>*:last-of-type{
    border:1px solid black;
    word-break: break-all;
    word-break: normal;
    /* keep-all 한중일텍스트에서는 줄을 바꿀 때 단어를 끊지 않는다. 다른 언어에서는 normal과 동일함 */
}
.m strong{
    border:1px solid red;
    font-size:5rem;
}
.m i{
    /* font-size: 3rem; */
    border:1px solid blue;
    /* vertical-align: middle; */
    vertical-align: top;
}


