@font-face {
    font-family: '잘난체';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font1{
    font-family: '잘난체';
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.edu{
    font-family: "Edu AU VIC WA NT Guides", cursive;
}