*{margin:0;padding:0;}
.wrap{height:5000px;background-color: bisque;}
.btn_top{
    position:fixed;
    right:10px;bottom:10px;
    width:100px;height:100px;
    background-color: aqua;
    cursor: pointer;
    transition: all 0.7s cubic-bezier(0.82,-0.22, 0.12, 1.32) 0s;
    /* display: none; */
    opacity: 0;
    pointer-events: none; 
    /*마우스 클릭이나 호버에 반응하지 않도록*/
    transform: scale(0);
}
.btn_top.on{
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

