.box{
    border:10px solid black;
    width:400px;
    height:400px;
}
.a{
    position:relative;
    /* left/right/top/bottom */
    right:100px;
    bottom:100px;
}
.b{
    position:absolute;
    right:100px;
    bottom:100px;
    background-color: aqua;
    z-index: 2;
}
.c{
    position:absolute;
    right:150px;
    bottom:150px;
    background-color: lightcoral;
    z-index: 1;
}
.d{
    position:absolute;
    right:200px;
    bottom:200px;
    background-color: red;
}
.boxwrap{
    border:10px solid orange;
    height:200vh;
    position: relative;
}
.innerBox{
    border:10px solid green;
    width:1000px;
    height:100vh;
    position: absolute;
    left:200px;
    top:200px;
}
.frame{
    border:10px solid red;
    position: relative;
    height:500px;
}
.con{
    border:10px solid blue;
    width:60%;
    left:20%;
    top:100px;
    position: absolute;
}
.e{
    position:fixed;
    right:100px;
    bottom:100px;
}
.f{
    position:sticky;
    left:100px;
    top:100px;
}
body{
    
}