.box{
    border:5px solid #000;
    width:400px;
    height:400px;
}
.box1{
    border-radius: 100px;
    box-shadow: 20px -20px 10px orange;
}
.box2{
    border-radius: 50%;
    box-shadow:
    20px 20px 0px red,
    -20px -20px 0px blue;
}
.box3{
    background-color: blue;
    border-radius: 50px 100px;
    /* opacity: 0; */
    display: none;
}
.box4{
    border-radius: 0px 50px 100px 150px;
    /* 시계방향으로 각기 다른 값을 지정할 수 있다. */
}