*{
    margin:0;
    padding:0;
}
.popup{
    position:fixed;
    left:200px;
    top:200px;
    width:300px;
    padding:10px;
    background-color: #fff;
    border:1px solid #000;
    display: none;
}
.popup.on{display: block;}
.popup_control{
    display: flex;
    justify-content: flex-end;
}
.btn_close{
    padding:5px;
    background:#000;
    color:#fff;
    cursor: pointer;
}
