*{
    margin:0;
    padding:0;
}
.popup{
    position:fixed;
    left:200px;
    top:200px;
    width:300px;
    padding:10px;
    background-color: #fff;
    border:1px solid #000;
    opacity: 0;
    pointer-events: none;
    z-index: 1500;
    transition:all 0.7s ease 0s;
}
.popup.on{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #000;
    opacity: 0;
    pointer-events: none; 
    /* 마우스 클릭에 걸리지 않게 함 */
    z-index: 1000;
    transition:all 0.7s ease 0s;
}
.modal.on{
    opacity: 0.7;
    pointer-events: auto;
}
.popup_control{
    display: flex;
    justify-content: flex-end;
}
.btn_close{
    padding:5px;
    background:#000;
    color:#fff;
    cursor: pointer;
}
