*{
    margin:0;padding:0;
}
.score{
    border:1px solid #000;
    width:400px;
    margin:0 auto;
    margin-top:50px;
    padding:40px;
}
.score h2{
    font-size: 4rem;
    text-align: center;
    margin-bottom:1rem;
}
.name{
    text-align: right;
    margin-bottom:1rem;
}
.scoreTable{
    border-collapse: collapse;
    width:100%;
    border:1px solid black;
    margin-bottom:1rem;
}
.scoreTable th{
    border:1px solid #000;
    height:2rem;
}
.scoreTable td{
    border:1px solid #000;
    text-align: center;
    height:2rem;
}