*{
    margin:0;
    padding:0;
}
html{
    font-size:20px;
}
ul{list-style:none;}
.bmi{
    width:80%;
    margin:0 auto;
    min-width: 800px;
}
.bmi h2{
    background-color: coral;
    padding:1rem;
    color:#fff;
}
.bmi h2+p{
    background-color: #efefef;
    margin:1rem;
    padding:1rem;
}
.bmi h2+p+div{
    border:1px solid #efefef;
    margin:1rem;
    padding:1rem;
}
.bmi h2+p+div dl{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:1rem;
}
.bmi h2+p+div dl>dt{
    width:50%;
    box-sizing: border-box;
}
.bmi h2+p+div dl>dd{
    width:50%;
    box-sizing: border-box;
    color:coral;
}
.bmiBarList{
    display: flex;
}
.bmiBarList>li{
    position: relative;
    padding:10px;
}
.bmiBarList>li>span{
    position: absolute;
    right:0;
    top:0;
    transform:translateY(-100%)translateX(50%);
    transform:translate(50%,-100%);
}
.bmiBarList>li:nth-of-type(1){
    flex:1.4;
    background-color: lightblue;
}
.bmiBarList>li:nth-of-type(2){
    flex:1.2;
    background-color: lightgreen;
}
.bmiBarList>li:nth-of-type(3){
    flex:1;
    background-color:lightpink;
}
.bmiBarList>li:nth-of-type(4){
    flex:2;
    background-color: lightcoral;
}